body {
    font-family: 'Poppins', sans-serif;
}

.project-experience {
    height: 100%;
}

img {
    width: 100%;
}

.greeting {
    line-height: 1.2;
    font-weight: 600;
    padding: 31px 26px 0 27px;
    background-color: #f9f3df;
    font-size: 1.375rem;
    height: 25rem;
}

.section-project-1 {
    background-color: #d7e9f7;
}

.description-1 {
    padding: 31px 26px 0 27px;
}

.description-1 h4 {
    font-weight: 700;
}

.description-1 p {
    line-height: 25px;
    font-size: 0.875rem;
}

.section-project-2 {
    background-color: #f4d19b;
}

.section-project-3 {
    background-color: #f9f3df;
}

.section-project-4 {
    background-color: #d7e9f7;
}

.pull-up {
    transform: translateY(-327px);
    -webkit-transform: translateY(-327px);
    -moz-transform: translateY(-327px);
    -ms-transform: translateY(-327px);
    -o-transform: translateY(-327px);
}

.pull-up-2 {
    transform: translateY(-163px);
    -webkit-transform: translateY(-163px);
    -moz-transform: translateY(-163px);
    -ms-transform: translateY(-163px);
    -o-transform: translateY(-163px);
}

.last-project-experience {
    background-color: #f4d19b;
}

/* part design */
.title-design {
    font-weight: 700;
    width: 285px;
    margin: 0 auto;
}

.title-design::after,
.title-design-miscellaneous::after {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: #f4d19b;
    margin: 5px auto 0;
}

.title-design-miscellaneous {
    font-weight: 700;
    width: 33.33%;
    margin: 0 auto;
}

.design-misc-margin {
    margin: 5rem 0 0 0;
}

.card {
    box-shadow: 0 3px 5px -2px rgba(52, 58, 64, 0.86);
}

.card-header {
    background-color: #f4d19b;
}

@media screen and (max-width: 1024px) {
    .title-design-miscellaneous {
        width: 58.31%;
    }
}

@media screen and (max-width: 767px) {
    .greeting {
        height: 20rem;
    }
    .pull-up,
    .pull-up-2 {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    .title-design-miscellaneous {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .greeting {
        height: 22rem;
    }
}
