html {
    scroll-behavior: smooth;
}

body {
    font-family: Roboto, sans-serif;
}

a {
    display: inline-block;
}

.fa-twitter,
.fa-instagram-square,
.fa-whatsapp-square {
    font-size: 1.2em;
}

hr {
    border-style: none;
    border-top-style: solid;
    border-width: 2px;
    background-color: #11999e;
}

u {
    text-decoration-color: #40514e;
    -moz-text-decoration-color: #40514e;
}

li.nav-link {
    cursor: pointer;
}

.description-self,
.description-work {
    font-size: 1.2em;
}

.section1 {
    background-color: #e4f9f5;
    padding: 3em 0;
}

.section2 {
    padding: 3em 0;
    background-color: #40514e;
}

.jumbotron {
    margin-bottom: 0;
    background-color: rgba(64, 81, 78, 0.8);
    color: #e4f9f5;
}

.main-title {
    color: #e4f9f5;
}

.card-header,
.software-mastered {
    background-color: rgba(64, 81, 78, 0.8);
}

.contact,
.training,
.formal-education {
    background-color: #e4f9f5;
}

.contact-title,
.training-title,
.formal-education-title {
    color: #40514e;
}

.form-control {
    caret-color: red;
}

.contact-section1 {
    margin-bottom: 3em;
}

.contact-section2 a {
    font-family: 'Akaya Kanadaka', cursive;
}

.bar-skill {
    background-color: #11999e;
}

footer {
    background-color: #e4f9f5;
    padding: 1.2em;
    color: #40514e;
}

/* sertifikat */
body.sertifikat {
    background-color: #feffde;
}

nav .breadcrumb {
    font-family: 'Montserrat', sans-serif;
}

.opening-sertifikat h2 {
    font-family: 'Lora', serif;
    color: #91c788;
    font-weight: 700;
    font-size: 2.25rem;
}

.opening-sertifikat p {
    font-family: 'Montserrat', sans-serif;
    color: #52734d;
    font-size: 1.25rem;
    font-weight: 300;
}

.footer-sertifikat {
    margin-top: 77px;
    height: 60px;
    background-color: #feffde;
    border-top: 2px solid #ddffbc;
    font-family: 'Montserrat', sans-serif;
    color: #91c788;
}

.thumb:hover {
    opacity: 0.5;
    cursor: pointer;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
    -webkit-animation: fadeIn 0.5s forwards;
}

.active {
    opacity: 0.5;
}
