/* --------------------------------------------------- TEMA WARNA --------------------------------------------------- */
$main-color: #04a9f3;
$white: #fcfcfc;
$black: #2c2c2c;

/* ----------------------------------------------- JARAK ANTAR ELEMENT ---------------------------------------------- */
$base-padding: 0.75rem;
$base-margin: 0.75rem;

/* --------------------------------------------------- ukuran font -------------------------------------------------- */
$regular-text: 1.25rem;
$subtitle: 1.5rem;
$title: 2.125rem;
