header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    max-width: inherit;

    .nav {
        height: 60px;
        background-color: $main-color;
        font-size: $regular-text;
        text-transform: capitalize;

        &__list {
            display: grid;
            grid-template-columns: repeat(4, min-content);
            justify-content: center;
            list-style: none;
            height: inherit;
            column-gap: $base-margin * 3;

            &-item {
                display: flex;
                a {
                    margin: auto;
                    text-decoration: none;
                }
            }
        }
    }
}
