header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    max-width: inherit;

    .nav {
        height: 50px;

        font-size: $regular-text;
        text-transform: capitalize;

        &__list {
            display: grid;
            grid-template-columns: repeat(4, min-content);
            justify-content: center;
            list-style: none;
            height: inherit;
            column-gap: $base-margin * 3;

            &-item {
                display: flex;
                a {
                    margin: auto;
                    text-decoration: none;
                    display: inline-block;

                    &::after {
                        content: '';
                        display: block;
                        margin: 2px 0 0 0;
                        width: 0;
                        height: 2px;
                        background: linear-gradient(to right, #09794e, #00d4ff);
                        transition: width 0.3s;
                    }

                    &:hover::after {
                        width: 100%;
                    }
                }
            }
        }
    }
}
