.portfolio {
    width: 100%;
    padding: 2rem 10rem;
    @media screen and (width <= 1200px) {
        padding: 2rem 5rem;
    }

    @media screen and (width <= 768px) {
        padding: 1rem;
    }

    &__title {
        @include montserrat-font($subtitle, 800);
        margin: 1rem 0;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 10px;

        @media screen and (width <= 600px) {
            grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
        }

        .card {
            border-radius: 6px;
            background-color: #fff1dc;
            padding: 5px 7px;

            &__title,
            &__body {
                padding: 3px 5px;
            }

            &__image {
                width: 100%;

                .image {
                    max-inline-size: 100%;
                    block-size: auto;
                }
            }

            &:nth-of-type(odd) {
                background-color: #e8d5c4;
            }

            .button {
                @include montserrat-font($regular-text, 600);
                background: #ff00ff;
                border-radius: 6px;
                margin: 0.75rem 0;
                padding: 10px 30px;
                color: #ffffff;
                display: inline-block;
                text-align: center;
                text-decoration: none;
            }
        }
    }
}
