.skill {
    width: 100%;
    padding: 2rem 10rem;
    @media screen and (width <= 1200px) {
        padding: 2rem 5rem;
    }

    @media screen and (width <= 768px) {
        padding: 0;
    }

    &__intro {
        padding: $base-padding;

        &__title {
            @include montserrat-font($subtitle, 800);
        }
    }

    &-mastered {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
        gap: 10px;

        &__detail {
            padding: $base-padding;

            .card {
                border-radius: 6px;
                background-color: #fff1dc;

                &__title,
                &__body {
                    padding: 3px 5px;
                }
            }

            &:nth-of-type(odd) .card {
                background-color: #e8d5c4;
            }
        }
    }
}
