@import 'tailwindcss';

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
    background-color: #0a0a0a;
    color: #f3f4f6;
}

@layer utilities {
    @keyframes theblink {
        0% {
            opacity: 1;
        }
        25% {
            opacity: 0.8; /* Sedikit memudar */
        }
        50% {
            opacity: 0; /* Benar-benar hilang */
        }
        75% {
            opacity: 0.8; /* Mulai muncul kembali */
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes loading {
        0% {
            transform: translateX(-100%);
        }
        50% {
            transform: translateX(50%); /* Bergerak hingga setengah jalan */
        }
        90% {
            transform: translateX(100%); /* Hampir selesai */
        }
        100% {
            transform: translateX(100%); /* Posisi akhir */
        }
    }
}

.animate-blink {
    animation: theblink 1.2s ease-in-out infinite; /* Sesuaikan durasi jika perlu */
}

.animate-loading-bar {
    animation: loading 5s ease-out forwards; /* 'forwards' agar tetap di posisi akhir */
}

.reveal.fade-in {
    opacity: 0;
    transition: opacity 0.7s ease-in-out; /* Contoh transisi opacity */
}

.reveal.fade-in.fade-in-visible {
    opacity: 1;
}
